.container {
  padding: 10px;
  background: linear-gradient(
    135deg,
    var(--color-chat-mine-bg) 0%,
    #7dd649 100%
  );
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(148, 236, 105, 0.3);
}
