.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  border-radius: 5px;
  font-size: 12px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  position: relative;
}

.closeBtn {
  position: absolute;
  z-index: 1000;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
}

.rightButtonDanger {
  color: var(--color-gray-9);
  width: 28px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 28px;
}

.rightButtonDanger:hover {
  background-color: var(--acai-danger);
  color: var(--color-white-11);
}

.content {
  position: relative;
  width: 100vw;
  border-radius: 5px;
  height: 100vh;
  overflow: hidden;
}

.content::before,
.content::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    45deg,
    #9be8ff 20%,
    /* 深科技蓝 */ #d2f1fd 40%,
    /* 主科技蓝 */ #f2fdfd 60%,
    /* 浅科技蓝 */ #d2f1fd 80%,
    /* 青蓝过渡色 */ #9be8ff 100% /* 循环深蓝 */
  );
  animation: gradient-flow 20s linear infinite;
  filter: blur(20px); /* 柔化边缘 */
}

.content::after {
  background: linear-gradient(
    -45deg,
    #97d4fd 10%,
    #bfe2f8 30%,
    #dbf2fb 50%,
    #bfe2f8 70%,
    #97d4fd 90%
  );
  animation-delay: -10s;
}

@keyframes gradient-flow {
  0% {
    transform: rotate(0deg) scale(1);
  }

  50% {
    transform: rotate(180deg) scale(1.2);
  }

  100% {
    transform: rotate(360deg) scale(1);
  }
}

.langSwitcher {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: flex-start;
  padding-left: 20px;
  align-items: center;
}

.avatarContainer {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputContainer {
  width: 100%;
  height: 50%;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: space-around;
  align-items: center;
}

.agreement {
  width: 100%;
}

.buttonContainer {
  width: 100%;
}

.bottomOptions {
  height: 5%;
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.highlight {
  color: #4e7df9;
}

.highlight:hover {
  cursor: pointer;
  color: rgb(36, 81, 207);
}

/* 隐藏滚动条但保留滚动功能 */
.scrollbarHidden {
  overflow: auto; /* 必须设置滚动 */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}

.scrollbarHidden::-webkit-scrollbar {
  display: none; /* Chrome/Safari/Opera */
}
